<div class="sc-message">
  <div class="sc-message--content <%= message.alignment %>">
    <div class="sc-message--text speech-bubble"><%= message.content %> <span>from <%= message.user.name %></span></div>
  </div>
</div>