<% variable = nil %>
<% i = 0 %>
<% tags = true %>
<% @chatroom.messages.each do |message| %>
	<% if tags %>
		<p>
	<% end %>
	<strong>
	<% unless message.user == variable %>
		<%= message.user.name %>:
	<% end %>
	</strong> <%=message.content %>
	<% unless i.next < @chatroom.messages.size && @chatroom.messages[i.next].user == message.user %>
		</p>
	<% else %>
		<% tags = false %>
	<% end %>
	<% variable = message.user %>
	<% i += 1 %>
<% end %>