<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist" id="myTabs">
  <% i = 0 %>
  <% Building::IDS.each do |id| %>
      <li role="presentation" class="tab-list">
      <a href="#<%= id %>" aria-controls="#<%= id %>" role="tab" data-toggle="tab"><%= id %>
      </a>
    </li>
    <% i += 1 %>
  <% end %>
</ul>
