<div class="alert alert-danger">
  <button data-dismiss="alert" class="close close-sm btn-fill" type="button">
      <i class="icon-remove"></i>
  </button>
  <strong>Achtung!</strong> Sind Sie sicher, dass Sie dieses Angebot löschen möchten?
</div> 