<% puts "----------------------------------" %>
<% puts "rendering alerts" %>
<% puts flash.inspect %>
<% puts "----------------------------------" %>
<div class="alert alert-<%= msg_class %> fade in">
  <button data-dismiss="alert" class="close close-sm" type="button">
      <i class="icon-remove"></i>
  </button>
  <strong><%= alert_message(msg_class) %></strong> <%= flash_message %>
</div>