<% unless android_request || flash.empty? %>
	<div> <%= render partial: 'partials/alert' %> </div><!--class="container"-->
<% end %>

<% if android_request && flash.present? %>
	<div><!-- class="container" -->
		<script>Android.showToast("<%= flash_message %>")</script>
	</div>
<% end %>