<% unless android_request || flash.empty? %>
	<div class="container"> <%= render partial: 'partials/alert' %> </div>
<% end %>

<% if android_request && flash.present? %>
	<%# binding.pry %>
	<div class="container">
		<script>Android.showToast("<%= flash_message %>")</script>
	</div>
<% end %>