<%= form_for [@room, @price] do |price| %>
<table class="room table table-hover">
	<%= render partial: "purchases/partials/item" %>
</table>
<%# unless current_user == @room.user || @purchase.items.empty? || !user_signed_in? %>
<div class="" id="price">
	<%= render template: "prices/new", locals: {price: price} %>
</div>
<% end %>