<%= form_for [@room, @purchase] do |f| %>
<table class="room table table-hover">
	<%= render partial: "purchases/partials/item" %>
</table>
<%# unless current_user == @room.user || @purchase.items.empty? || !user_signed_in? %>
<div class="" id="price">
	<%= render partial: "purchases/partials/price", locals: {form: f} %>
</div>
<%# end %>
<% end %>