<div class="links">
  <% if controller_name = "events" %>
    <%#= link_to "Purchase Products", new_purchase_path, class:"btn btn-orange" %>
    <%= link_to :back, new_purchase_path, class:"btn btn-orange" %>
    <% Event::TYPES.each do |type| %><%= link_to "create #{type}", "/#{type.new_path}", class:'btn btn-azure' %><% end %>
  <% end %>
</div>