<tr>
  <!-- <td><%#= event.users.participants(current_user) %></td> -->
  <td><% event.bonus.each do |bonus| %>
    <%= bonus[0] %><span class="blue-highlight"> <%= bonus[1] %></span>
  <% end %>
  </td>
  <td><%= render partial:'options', locals: {variable: event} %></td>
</tr>