<div class="col-sm-6">
  <h1><%= yield header %></h1>
  <table class="table table-condensed">
    <tr>
      <% constants.each do |header| %>
        <%= th_tag header %>
      <% end %>
    </tr>     
    <%= yield %>
  </table>
</div>