<h1>Spiel Karte</h1>
<p id="description">Im SprachSpiel gibt es Standorte, wo man kann verschiede Tätigkeiten machen. Jeder Spieler hat eine Rolle und wird Ihren eigenen Raum bauen, so dass jedes einen teil des Spieles verwalten kann..</p>

<!-- need to be fixed, needs to use Products.not_used_items -->
<%#= render partial:"partials/tabs/tabs" %>   

<%= render partial: "partials/resources" if user_signed_in? %>   

<!-- show all the pictures of the buildings with name and description  -->
<!-- for now I do not show the buildings --> 
<!--%= render @buildings %>
<%#= render partial: "buildings/building", locals: {building: Building.first } %>