<% form_tag("/purchase", method: "post") do %>
<table class="table table-hover">
	<% id = nil %>
	<% @items.each do |item| %>
		<% unless item.product_id == id %>
			<tr>
			  	<td class="col-sm-4 table-text">
				<%= item.product.name %>
				</td>
			  	<td class="col-sm-2">
			  	<i class="fa fa-plus-square fa-3x" aria-hidden="true" id="plus-square"></i>
			  	</td>
			  	<td class="col-sm-2 table-text">
			  	<%= @items_number[item.product_id] %>
			  	</td>
			  	<td class="col-sm-2 table-text">
			  	0
			  	</td>
			  	<td class="col-sm-2">
			  	<i class="fa fa-minus-square fa-3x" aria-hidden="true" id="minus-square"></i>	
			  	</td>
		  	</tr>
		<% end %>
		<% id = item.product_id %>
  	<% end %>
</table>
<% end %>