// Buttons 
@each $name, $background-color, $border-color in (primary, black, white),
(danger, red, none), (green, #66ff66, white),(azure, #1ab2ff, initial), 
(orange, #ff8533, initial) {
  .btn-#{$name} { 
    @include btn($background-color, $border-color); 
    background-image: initial;
  }
}
@each $name, $background-color, $border-color, $color, $border in (primary, white, red, red, 1px),(danger, white, red, red, 1px),
  (green, blue, red, red, 1px),(azure, #ffff1a, blue, black, 5px), (orange, #1a1aff, red, #ffffff, 5px) {
  .btn-#{$name}:hover { 
    background-image: initial;
    color: $color;
    border: $border solid;
    @include btn($background-color, $border-color); 
  }
}

.btn-round {height: 100%;border: 1px solid white;border-radius: 19px;margin: 0px 15px;}
.btn-f-large {@include flexRow;flex-basis: 61%;font-size: 1.4rem;font-weight: 900;}   
.btn-f-small {@include flexRow($justify: space-around);flex-basis: 30%;}
.btn-centered-medium {display: block;margin-left: auto;margin-right: auto;
  width: 30%;}
.btn-centered-relative {margin-top: 25px;margin-bottom: 25px;left: 50%;
  position: relative;transform: translateX(-50%);width: 60%;height: 45px;
  padding-top: 10px;}
.btn-mobile { padding: 10px 9px;font-size: 16px;width: 100%;border-radius: 0px;
  text-align: center;font-size: 14px;}
.btn-mb-wide {padding-left: 23px; padding-right: 23px;} 
.btn-mb-high {padding-top: 18px;  padding-bottom: 18px; border-radius: 3px;}  