img { margin: 7px 5px; }
.icon-large { height: 90px; }
.icon-s2 { height: 34px; }
.icon-s1 { height: 26px; }
.img-bw {background-color: white;webkit-filter: invert(100%);filter: invert(100%);&:hover {opacity: .5;}}