img { margin: 7px 5px;&:hover {opacity: .5;}}
.icon-large { height: 90px; }
.icon-s2 { height: 32px; }
.icon-s1 { height: 26px; }
.img-bw {background-color: white;webkit-filter: invert(100%);filter: invert(100%);}
.img-transparent { background-color: transparent;}
.icon-overflow {position: absolute;left: 15%;top: 0;z-index: 2;width: 20%;}
