/* Shortcuts */

.flex-box {
	display:flex; 
	width:100%;
}

.no-padding {
	padding-left:0px;
	padding-right:0px;
}

.padding {
	padding-left: 15px;
	padding-right: 15px;
}

.margin-top {
	margin-top: 15px;
}

.no-margin {
	margin-left: 0px;
	margin-right: 0px;
}

.no-margin-top-bottom {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.margin {
	margin-left: 15px;
	margin-right: 15px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.justify {
	text-align: justify;
	text-justify: inter-word;
}

.scroll-bar {
	overflow: auto;
	height: 366px; /*height: 250px;*/
	background-color: black;
}

.full-width {
	width: 100%;
}

/* Container */

.container-links {
	margin-top: 15px	;
}

/* Buttons */ 

.btn-primary {
	background-color: black;
	background-image: initial;
	border-color: white;
}

.btn-danger {
	background-image: initial;
	background-color: red;
	border-color: none;
}

.btn-green {
	background-color: green;
	background-image: initial;
	border-color: white;
}

.btn-green:hover {
	background-color: blue;
	border: red 1px solid;
}

.btn-primary:hover {
	background-color: white;
	background-image: initial;
	color: red;
	border-color: red;
}

.btn-danger:hover {
	background-color: white;
	background-image: initial;
	color: red;
	border-color: red;
}

.btn-centered-medium {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.btn-centered-relative {
	margin-top: 25px;
	margin-bottom: 25px;
	left: 50%;
	position: relative;
	transform: translateX(-50%);
	width: 60%;
	height: 45px;
	padding-top: 10px;
}

.btn-mobile {
	padding: 10px 9px;
	font-size: 16px;
	width: 100%;
	border-radius: 0px;
	text-align: center;
	font-size: 14px;
}

.btn-mb-wide {
	padding-left: 23px;
	padding-right: 23px;
} 

.btn-mb-high {
	padding-top: 18px;
	padding-bottom: 18px;
	border-radius: 3px;
}	

.btn-col {
	padding-top:5px;
	padding-bottom:5px;
}

/* Styles */ 

h1, p {
	margin-top: 15px;
}

p { 
	font-size: 17px;
	}

strong {
	background-color: initial;
	color: black;
}

h3 {
	font-size: 20px;
}

i:hover {
	color: red;
} 

label {
	font-size: 20px;
	padding-right: 18px;
}

a {
	font-size: 17px;
}

a p:hover {
	color: red;
}

.new_user h2 {
	font-size: 25px;
	color: red;
}

.new_user li {
	color: red;
}

.table input {
	line-height: 30px;
	font-size: 23px;
}

.price input[type="submit"], input[name="price"] {
	font-size: 20px;
}

.price input[type="submit"]:hover, input[name="price"]:hover {
	background-color: white;
	background-image: initial;
	color: red;
	border-color: red;
}

.price input.price_field {
	font-size: 20px;
}	


/* Margins */

.info {
	margin-top: 30px;
}

/* Bootstrap */ 

/* Rows */ 

.row {
	margin-top: 17px;
	margin-bottom: 17px;
}

.roomsIndex .row {
	margin-top: 4px;
	margin-bottom: 0px;
}

.row-resources {
	border: 1px solid white;
	margin: 0px auto;
	/*border-radius: 5px;*/
}

/* Columns */

.col-sm-offset-1-right {
	margin-right: 8.33333333%;
}

.row-resources .col-sm-2 {
	text-align: center;
}

/* Table */ 

.table {
	margin-bottom: 20px;
	border-bottom: white 1px solid;
}

.table th {
	color: white;
}

.table > tbody > tr > td.table-text {
	padding-top: 15px;
	font-size: 18px;
}

/* Tabs */

.tab-list {
	border-bottom: 1px solid white;
	text-align: center;
	width: 25%;
}

/*
.tab-pane {
	min-height: 50px;
}
*/

.show .tab-content {
	margin-bottom: 40px;
}

.show .tab-pane {
	border-bottom: 1px solid white;
}

/* Alerts */

.alert {	
	background-color: white;
	background-image: initial;
}

.alert p, .alert ul, .alert li {
	background-color: white;
	color: red;
}

/* Images */ 

img {
	background-color: white;
	width: 100%;
	webkit-filter: invert(100%);
	filter: invert(100%);
}

img:hover.roomsImages, img:hover .roomsIcons {
	webkit-filter: invert(100%) opacity(50%);	
	filter: invert(100%) opacity(50%);	
}

/* Forms */ 

input:-webkit-autofill {
	background-color: white !important;
}

/* Navbar */

.form-control, body, *, h1, h2, h3, h4, p, a {
	background-color: black;
	color: white;
	font-family: courier;
}

.navbar-inverse {
	/*background-color: white;*/
	border-color: white;
	color: white;
	background-image: initial;
	background-color: black;
}

.navbar-inverse .navbar-toggle {
	border-color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	/*background-color: white;*/
	color: white;
	font-family: courier;
}

.navbar-inverse .navbar-nav > li > a, .dropdown-menu, .dropdown {
	color: white;
	font-family: courier;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: white;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: initial;
}

/*
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: white;
}
*/

/* Links in the navbar */

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	text-decoration: underline;
	color: red;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: red;
	text-decoration: underline;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	text-decoration: underline;
	color: red;
}

/* Dropdown Menu */

.dropdown-menu a {
	background-color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-image: initial;
}

/* Chatroom */ 

.panel p {
	text-align:justify;
	font-size: 14px;
}

/* GET buildings#welcome */

.input-group-addon {
	background-color: black;
}

.input-group .form-control {
	width: 70%;
}

.input-group input[type="submit"] {
	width: 30%;
}

/* GET buildings#index */

.roomsIcons {
	height: 100px;
	width: initial;
}

.subheader-buildings p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.roomsIndex a, .roomsIndex p {
	background-color: inherit;
	color: inherit;
}

.subheader-buildings p:hover {
	color: red;
}

.row.roomsIndex .col-sm-1 a img.pull-left {
	margin-right: 13px;
	margin-left: 0px;
}

.row.roomsIndex .col-sm-1 a img.pull-right {
	margin-right: 0px;
	margin-left: 13px;
}

.roomsIndex .col-sm-5.right, .roomsIndex .col-sm-5.left {
	border: 1px white solid;
	padding-top: 15px;
	padding-bottom: 9px;
}



.roomsIndex .col-sm-5.right:hover, .roomsIndex .col-sm-5.left:hover {
	border: 1px red solid;
	background-color: white;
	color: red;
}


.roomsIndex .col-sm-5.right p:hover, .roomsIndex .col-sm-5.left p:hover {
	background-color: white;
	color: red;
}

/* GET buildings#show */

.roomsImages {
	width: 100%;
	height: initial;
}

.tab-links {
	border-right: 1px white solid;
	padding-right: 5px;
	margin-right: 10px;
}

#myTabs .tab-list a {
	border-radius: 0px;
}

/* rooms controller */

.countdown {
	color: #8c8c8c;
	font-size: 13px;
}

/* GET rooms#show */

.panel strong {
	color: white;
}

.panel p {
	/*font-size: initial;*/
}

.price .col-xs-12 {
	z-index:1;
}


/* chatroom */ 

.panel-body {
	padding: initial;
	padding-left: 7px;
	padding-right: 7px;
}

.form-control, .panel-default {
	border-radius: 0px;
}

.panel p {
	display:inline;
	line-height: 1.9;
}

/* Media Queries */

/* Height */

@media (min-height: 1335px) {
	.panel.panel-default.scroll-bar.col-sm-12 {
	height: 1107px;
	}
}

@media (max-height: 1024px) {
	.panel.panel-default.scroll-bar.col-xs-12 {
	height: 710px;
	}
}

@media (min-height: 964px ) {
	.room.panel.panel-default.scroll-bar.chatroom {
	height: 332px;
	}
}

@media (min-height: 735px) {
	.panel.panel-default.scroll-bar.col-xs-12 {
	height: 468px;
	}
	.chatroom.panel.panel-default.scroll-bar.col-xs-12 {
	height: 692px; /*height: 808px; editing buildings/chatroom/show*/
	}
}

@media (max-height: 735px) {
	.panel.panel-default.scroll-bar.col-xs-12 {
	height: 405px;
	}

	.room.panel.panel-default.scroll-bar {
	height: 184px;
	}	
}

@media (max-height: 640px) {
	.panel.panel-default.scroll-bar.col-xs-12 {
	height: 380px;
	}
}

@media (max-height: 568px) {
	.panel.panel-default.scroll-bar.col-xs-12 {
	height: 325px;
	}

	.room.panel.panel-default.scroll-bar {
	height: 129px;
	}	

}

/* Width */

@media (min-width: 768px){
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }	
}

@media (max-width: 768px){
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: white;
		background-color: black;
	}
}

@media (max-width: 425px) {
	.roomsIndex .col-xs-12 {
		margin-top: 25px;
	}

	.row {
		margin-top: initial;
	}

	.form-horizontal .form-group {
		margin-left: initial;
		margin-right: initial;
	}

}

@media (min-width: 414px) {

	/* Buttons GET buildings#new/edit */
	.form-horizontal a {
		margin-left: -15px;
	}

	.price input[type="submit"], input[name="price"] {
		width: 142px;
	}

	.price input.price_field {
		width: 142px;
	}	

	#messageSubmit {
		display: hidden;
	}

	.row.roomsIndex .col-sm-1.col-xs-12.no-padding p.justify {
		display: none;
	}
}

/* Nexus 6p */ 

@media (max-width: 414px) {

	a {
		font-size: 15px;
	}

	/* GET rooms#new description height */
	textarea.form-control {
		height: 350px;
	}
	
	#message_content {
		height: 66px;
	}	

	.full-width-mobile {
		width: 100%;
	}

	.table > tbody > tr > td {
		padding-top: 10px;
	}

	.table > tbody > tr > td:nth-child(10) {
		padding-top: 3px;
	}	

	.btn-group {
		left: 50%;
		transform: translateX(-50%);
	}

	ul {
		margin-top: 10px;
	}

	/* Buildings#index */

	.roomsIndex .col-sm-5.right, .roomsIndex .col-sm-5.left	{
		border: initial;
	}
	
	.row.roomsIndex .col-xs-12.left {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.row.roomsIndex .col-xs-12.left a { 
		border: 1px solid white;
		padding: 8px 78px;
	}

	.row.roomsIndex .col-sm-1.col-xs-12 img {
		margin-right: 23px;
	}

	.row.roomsIndex p.justify {
		margin-top: 0px;
	}

	.row.roomsIndex .col-sm-1.col-xs-12 {
		display: none;
	}
	
	/* chatroom in building#show */

	textarea#message_content {
		background-color: white;
		color: black;
	}

	/* Modifing style for chatrooms show */ 
	.buildings.panel-default.scroll-bar {
		height: 235px;
	}

	.row.no-margin-top-bottom .col-sm-10 {
		margin-top: -29px;
	}

	.chatroom.panel-default {
		margin-top: -18px;
		border-radius: initial;
		border-top: initial;
		padding: initial;
	}

	.panel-default {
		padding: initial;
	}

	.panel {
		margin-bottom: 0px;
	}

	.container, .col-sm-10 {
		padding-left: initial;
		padding-right: initial;
	}

	.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse, .container > .navbar-header, .row, .container {
		margin-right: 0px;
		margin-left: 0px;
	}

	/* Navbar */ 

	.navbar-toggle {
		margin-right: 0px;
	}
	
	/*
	.navbar {
		margin-bottom: initial;
	}
	*/

	.navbar-brand {
		padding-left: initial;
		padding-right: initial;
	}

	.col-sm-12 {
		padding-left: initial;
		padding-right: initial;
	}

	.panel-body {
		padding-left: 2px;
		padding-right: 2px;
	}

	/* rooms#show */

	.table th.col-xs-5.col-sm-2 {
		text-align: center;
	}

}	

@media (max-width: 360px) {
	.tab-list a {
		font-size: 13px;
	}

	.btn-col {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}	

@media (max-width: 320px) {
	textarea.form-control {
		height: 250px;
	}

	.tab-list a {
		font-size: 10px;
	}

	.btn-mobile {
		font-size: 12px;
	}
}	