/* Buttons */ 

.btn-primary {
	background-color: black;
	background-image: initial;
	border-color: white;
}

.btn-primary:hover {
	background-color: white;
	background-image: initial;
	color: red;
	border-color: red;
}

.btn-danger {
	background-image: initial;
	background-color: red;
	border-color: white;
}

.btn-danger:hover {
	background-color: white;
	background-image: initial;
	color: red;
	border-color: red;
}

.btn-centered-medium {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

/* Styles */ 

p { 
	font-size: 17px;
	}

strong {
	background-color: initial;
	color: black;
}

h3 {
	font-size: 20px;
}

/* Bootstrap */ 

.row {
	margin-bottom: 25px;
}

/* Alerts */

.alert {
	background-color: white;
	background-image: initial;
}

/* Images */ 

img {
	background-color: white;
	width: 100%;
	webkit-filter: invert(100%);
	filter: invert(100%);
}

img:hover.roomsImages {
	webkit-filter: invert(100%) opacity(50%);	
	filter: invert(100%) opacity(50%);	
}

/* Forms */ 

input:-webkit-autofill {
	background-color: white !important;
}

/* Navbar */

.form-control, body, *, h1, h2, h3, h4, p, a {
	background-color: black;
	color: white;
	font-family: courier;
}

.navbar-inverse {
	/*background-color: white;*/
	border-color: white;
	color: white;
	background-image: initial;
	background-color: black;
}

.navbar-inverse .navbar-toggle {
	border-color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-nav > li > a {
	/*background-color: white;*/
	color: white;
	font-family: courier;
}

.navbar-inverse .navbar-nav > li > a, .dropdown-menu, .dropdown {
	color: white;
	font-family: courier;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: white;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: white;
}

/* Links in the navbar */

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	text-decoration: underline;
	color: red;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: red;
	text-decoration: underline;
}

/* Dropdown Menu */

.dropdown-menu a {
	background-color: white;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-image: initial;
}

/* GET rooms#welcome */

.input-group-addon {
	background-color: black;
}

.input-group .form-control {
	width: 70%;
}

.input-group input[type="submit"] {
	width: 30%;
}

/* GET rooms#index */

.roomsImages {
	/*width: 26%;*/
}

.roomsImages img:hover {
	
}

/* GET rooms#show */

.panel strong {
	color: white;
}

.panel p {
	font-size: initial;
}


/* GET Registration#edit */


/* Media Queries */

@media (max-width: 767px){
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: white;
		background-color: black;
	}
}