.panel-body {
  background-color: black;
}

.panel-default {
  border-color: transparent;
  height: 96%;
}

.new_message {
  .form-control { 
    height: 100%; 
    background-color: white;
    color: black;
  }
}