.product-partial.col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
  a { @include flexRow; }
  p.justify { display: none; }
}

.row { 
  height: 70%; 
  .col-sm-8 img.color { width: 60%;}
  .col-sm-8 { @include flex($justify: flex-start); } // height: 100%;
  .prices { 
    @include flexRow;
    .btn {
      span { background-color: inherit; margin-right: 5px;}
      img {background-color:inherit;}
      &:hover span { color: blue; }
    }
    .btn-orange:hover span { color: white;}
  }
  .chatroom {height: 90%;}
  .purchase  { @include flexRow($justify: space-between); }
  .purchase { height: 45px; }
  // .col-sm-12.actions { a {width:100%;} }
}

ul.alert.fade {
  list-style-type: none;
  text-align: center;
  &.alert-success li { color: #468847; text-shadow: 0px 1px #468847; }
  &.alert-danger li { color: #ff0000; text-shadow: 0px 1px #ff0000; }
}

@media (max-width: 368px) {
  .row.main { height: 70%; }
  .btn-round { border-radius: initial; }
  .col-xs-12 { @include noPadding;}
}