.product-partial.col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
  a { @include flex($direction: row, $justify: center); }
  img { margin: 7px 5px; }
  img.color { width: 60%; filter: initial; background-color: initial;}
  p.justify { display: none; }
}

.icon {
  @include imageColor;  
  &.numbers {
    height:34px;
    position: absolute;
    left: 15%;
    z-index: 2;
    width: 20%;
  }
  &.coins {
    height: 26px;
  }
}

.row:nth-child(odd) { height: 54%; }

.row { 

  .col-sm-8 { /*height: 100%; .col-sm-12 { height: 89%; }*/}
  .col-sm-4:last-child { height: 100%; }

  .purchase {
    height: 45px; //6%;
    @include flex($direction: row, $justify: space-between, $align: center);
    .price, .btn-primary, .btn-green {
      height: 100%;
      border: 1px solid white;
      border-radius: 19px;
      margin: 0px 15px;
      p { background-color: #1ab2ff; text-shadow: 2px 2px 2px black; margin: initial; }    
    }
    .price {
      @include flex($direction: row, $justify: space-around, $align: center);
      flex-basis: 30%;
      background-color: #1ab2ff;
    }
    .btn-primary, .btn-green {
      @include flex($direction: row, $justify: center, $align: center);
      flex-basis: 61%;
      font-size: 1.4rem;
      font-weight: 900;    
    }

    .btn-primary {
      background-color: #ff8533;
    }    

    .btn-green {
      background-color: #66ff66;
    }    
  }
}

ul.alert.fade {
  list-style-type: none;
  text-align: center;
  // text-shadow: 0px 1px #ff0000;
  &.alert-success li { color: #468847; text-shadow: 0px 1px #468847; }
  &.alert-danger li { color: #ff0000; text-shadow: 0px 1px #ff0000; }
}