<div class="nested-fields">  
  <%#= f.select :id, User.all.collect {|u| [u.username, u.id]}, class:'form-control col-sm-offset-2' %>  
  <%#= f.select :category_ids, Category.all.collect {|x| [x.name, x.id]}, {}, :multiple => true %>
  <%#= link_to_remove_association "remove user", f, class: 'btn btn-danger' %>
</div>